.ve-ce-mathNode .math-container {
  display: inline-block;
}

.ve-ce-mathBlockNode {
  display: block;
  text-align: center;
}

.ve-ce-mathBlockNode .math-container {
  display: inline-block;
}

.oo-ui-icon-math {
  background-image: /* @embed */ url(math.svg);
}

.ve-ui-desktopContext {
  left: 5px !important;
  right: 5px !important;
}

.oo-ui-popupWidget-tailed .oo-ui-popupWidget-popup {
  position: static !important;
  width: auto !important;
}

.ve-ui-inspector .oo-ui-frame {
  width: 100% !important;
}

.ve-ui-desktopContext-inspectors {
  left: 0px !important;
  right: 0px !important;
}

.oo-ui-textInputWidget {
width: auto !important;
}


.oo-ui-popupWidget-tailed .oo-ui-popupWidget-tail {
  position: absolute !important;
  top: 0px !important;
  left: 50% !important;
  /*background: green;*/
}