span.citation {
/*  background: rgba(140, 190, 250, 0.3); */
  background: #DCEBFD;
}

.bibliography {
  cursor: not-allowed;
  /*margin-top: 20px;*/
}

.bibliography .title {
  font-size: large;
  font-weight: bold;
}

.bibliography .references {
  padding-top: 20px;
}

.bibliography .references div.csl-entry {
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.bibliography .references div.csl-block {
  padding:0.4em 0px 0.4em 0em;
}

.bibliography .references div.csl-left-margin {
  float:left;
  padding:0.4em 0px 0.4em 0em;
}

.bibliography .references div.csl-right-inline {
  margin-left: 1em;
  padding:0.4em 0.4em 0.4em 1em;
}

.oo-ui-icon-citation {
  background-image: /* @embed */ url(citation.svg);
}

.oo-ui-icon-citation-white {
  background-image: /* @embed */ url(citation-white.svg);
}

.oo-ui-icon-back {
  background-image: /* @embed */ url(back.svg);
}



/* Hacking the style for CitationManager */

.oo-ui-window-frame.ve-ui-citationManager {
  width: 1000px !important;
  height: 600px !important;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-head {
  background-color: #fff;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-head .oo-ui-processDialog-location {
  text-align: initial !important;
  padding-left: 0px !important;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-head .oo-ui-processDialog-location .oo-ui-processDialog-title {
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-head .oo-ui-processDialog-actions-primary .oo-ui-buttonElement-button {
  background : 0;
  text-shadow : none;
  border: none;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body {
  min-height: 200px;
  background-color: #eee;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .toolbar {
  display: table-row;
  overflow: hidden;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .tabs {
  display: table-cell;
  overflow: hidden;
  height: 40px;
  padding-top: 11px;
  padding-left: 40px;
  padding-right: 10px;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .tabs .tab {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .tabs .tab:last-of-type {
  margin-left: 10px;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .tabs .tab.active {
  background: #fff;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .tabs .tab.active .oo-ui-labelElement-label {
  color: #000;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .tabs .tab:not(.active) {
  background: rgba(0,0,0,0.1);
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .tabs .tab:not(.active):hover {
  background: rgba(0,0,0,0.05);
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .tabs .tab .oo-ui-labelElement-label {
  /* TODO: center this div within the tab div? */
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .searchbar {
  display: table-cell;
  border-collapse: collapse;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  height: 30px;
  width: auto;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .searchbar .container {
  display: table-row;
  overflow: hidden;
  position: relative;
  /*background-color: #f8f8f8;*/
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .searchbar .label {
  display: table-cell;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 15px;
  font-size: 10px;
  color: #777;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .searchbar .search-field {
  display: table-cell;
  width: 480px;
  padding-left: 10px;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .searchbar .search-field input {
  border: none;
  box-shadow: none;
  background: transparent;
  font-size: 14px;
  margin: 0px;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .searchbar .search-button {
  display: table-cell;
  background-color: #666;
  position: absolute;
  top: 9px;
  right: 10px;
  padding: 3px 8px;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .searchbar .search-button:hover {
  background-color: #000;
  /*color: white;*/
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .searchbar .search-button .oo-ui-labelElement-label {
  color: white;
  margin-left: 0px;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .searchbar .search-button {
}

/* Spinner */

/* Note: this has been taken from http://codepen.io/mikepro4/pen/yHjAz being a quick first shot */
.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .spinner {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body:not(.searching) .spinner {
  visibility: hidden;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .spinner .throbber {
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body.searching .spinner .throbber:after {
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  -webkit-animation: rotateSpinner 0.6s linear infinite;
  -moz-animation: rotateSpinner 0.6s linear infinite;
  -ms-animation: rotateSpinner 0.6s linear infinite;
  -o-animation: rotateSpinner 0.6s linear infinite;
  animation: rotateSpinner 0.6s linear infinite;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border-top: 1px solid #545a6a;
  border-bottom: 1px solid #d4d4db;
  border-left: 1px solid #545a6a;
  border-right: 1px solid #d4d4db;
  content: '';
  opacity: .5;
}

@keyframes rotateSpinner {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
@-webkit-keyframes rotateSpinner {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
@-moz-keyframes rotateSpinner {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
@-o-keyframes rotateSpinner {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}


.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-panel {
  background: white;
  overflow: auto;
  position: relative;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-panel .placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -4% 0 0 -25%;
  font-size: 20px;
  font-weight: 600;
  color: #ccc;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-panel .placeholder .searching {
  display:none;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-panel .placeholder .searching .spinner {
  padding-left: 20px;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body.searching .reference-panel.new .placeholder .searching {
  display: block;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body.searching .reference-panel.new .placeholder .empty {
  display: none;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-panel {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-list .reference {
  position: relative;
  padding-top: 32px;
  padding-left: 40px;
  padding-right: 10%;
  padding-bottom: 18px;
  border-bottom: solid 1px #e9e9e9;
  background: #fff;
  min-height: 40px;
}


.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-list .reference:last-child {
  /* TODO: make that the last element is fully visible despite the fixed footer bar */;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-list .reference .label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 12px;
  font-weight: bold;
  background-color: rgba(0,0,0,0.3);
  color: #ffffff;
  padding: 1px 5px 1px 5px;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-list .reference .content {
  font-size: normal;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-list .reference .buttons {
  position: absolute;
  top: 25px;
  right: 20px;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-list .reference .buttons .oo-ui-labelElement-label {
  color: #333333;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-list .reference .buttons .oo-ui-buttonElement {
  background-color: #ccc;
  color: white;
  /*border: solid 1px #aaa;*/
  opacity: 0.5;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-list .reference .buttons .oo-ui-buttonElement .oo-ui-buttonElement-button {
  padding: 6px 6px;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-list .reference .buttons .oo-ui-buttonElement:hover,
.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-panel.select .reference-list .reference.cursor .buttons .oo-ui-buttonElement {
  opacity: 1.0;
  background-color: #333;
  color: white;
  /* add a transparent border to avoid jumping */
  /*border: solid 1px rgba(0,0,0,0);*/
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-list .reference .buttons .oo-ui-buttonElement:hover .oo-ui-icon-citation,
.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-panel.select .reference-list .reference.cursor .buttons .oo-ui-buttonElement .oo-ui-icon-citation {
  background-image: /* @embed */ url(citation-white.svg);
  opacity: 1.0;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-list .reference .buttons .oo-ui-labelElement-label {
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-list .reference.selected .label,
.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-list .reference.selected .buttons .select-button {
  background-color: #4A90E2;
  opacity: 1.0;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-list .reference.selected .buttons .oo-ui-buttonElement .oo-ui-icon-citation {
  background-image: /* @embed */ url(citation-white.svg);
  opacity: 1.0;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-panel.select .reference-list .reference.cursor {
  background: #f1f1f1;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-panel.select .reference-list .reference.cursor .label {
  background-color: rgba(0,0,0,0.7);
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-panel.select .reference-list .reference.cursor.selected .label {
  background-color: #99CCFF;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-panel.select .reference-list .reference.cursor.selected .oo-ui-buttonElement,
.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-body .reference-list .reference.selected .oo-ui-buttonElement:hover {
  background-color: #99CCFF;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-foot {
  min-height: 30px;
  background-color: #eeeeee;
  padding: 5px;
}

.ve-ui-nodeInspector.ve-ui-citationInspector-content .oo-ui-window-foot .description {
  font-size: small;
  color: #888888;
  /* TODO: make this centered vertically */
}

