.ve-ui-tableInspector {
  width: 10em;
}

.ve-ui-tableInspector .header {
  display: inline-block;
  width: 100%;
  padding: 5px 5px 5px 5px;
}

.ve-ui-tableInspector .header .oo-ui-buttonWidget {
  float:left;
}

.ve-ui-tableInspector .header .oo-ui-window-icon {
  padding-left: 0.5em;
  margin-left: 0.25em;
  border-left: solid 1px #eee;
}

.ve-ui-tableInspector .ve-ui-tableInspector-buttons {
  padding: 5px 5px 5px 5px;
  display: table-row;
}

.ve-ui-tableInspector .ve-ui-tableInspector-buttons .oo-ui-buttonWidget {
  padding-left: 5px;
  min-width: 40px;
  display: table-cell;
}

.ve-ui-tableInspector .ve-ui-tableInspector-buttons .oo-ui-buttonWidget .oo-ui-iconedElement-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ve-ui-tableInspector .ve-ui-tableInspector-buttons .oo-ui-buttonWidget .oo-ui-labeledElement-label {
  margin-left: auto;
  margin-right: auto;
}
