.oo-ui-icon-table {
  background-image: /* @embed */ url(table.svg);
  background-position: center;
}

.oo-ui-icon-table-insert-row-before {
  background-image: /* @embed */ url(table-insert-row-before.svg);
  background-position: center;
}

.oo-ui-icon-table-insert-row-after {
  background-image: /* @embed */ url(table-insert-row-after.svg);
  background-position: center;
}

.oo-ui-icon-table-delete-row {
  background-image: /* @embed */ url(table-delete-row.svg);
  background-position: center;
}

.oo-ui-icon-table-insert-column-before {
  background-image: /* @embed */ url(table-insert-column-before.svg);
  background-position: center;
}

.oo-ui-icon-table-insert-column-after {
  background-image: /* @embed */ url(table-insert-column-after.svg);
  background-position: center;
}

.oo-ui-icon-table-delete-column {
  background-image: /* @embed */ url(table-delete-column.svg);
  background-position: center;
}

.ve-ce-tableNode {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left:auto;
  margin-right:auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.ve-ce-tableCellNode {
  border: 1px solid #ccc;
  padding: 5px 10px 5px 10px;
}

.ve-ce-tableCellNode .ve-ce-paragraphNode {
  min-width: 10px
}

thead .ve-ce-tableCellNode {
  background-color: #EEE;
}


.ve-ce-tableNode.focussed {
  border: 1px dashed;
}

.ve-ui-tableInspector {
  width: 10em;
}

.ve-ui-tableInspector .header {
  display: inline-block;
  width: 100%;
  padding: 5px 5px 5px 5px;
}

.ve-ui-tableInspector .header .oo-ui-buttonWidget {
  float:left;
}

.ve-ui-tableInspector .header .oo-ui-window-icon {
  padding-left: 0.5em;
  margin-left: 0.25em;
  border-left: solid 1px #eee;
}

.ve-ui-tableInspector .ve-ui-tableInspector-buttons {
  padding: 5px 5px 5px 5px;
  display: table-row;
}

.ve-ui-tableInspector .ve-ui-tableInspector-buttons .oo-ui-buttonWidget {
  padding-left: 5px;
  min-width: 40px;
  display: table-cell;
}

.ve-ui-tableInspector .ve-ui-tableInspector-buttons .oo-ui-buttonWidget .oo-ui-iconedElement-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ve-ui-tableInspector .ve-ui-tableInspector-buttons .oo-ui-buttonWidget .oo-ui-labeledElement-label {
  margin-left: auto;
  margin-right: auto;
}

.ve-ui-tableContext .ve-ui-tableContext-overlay {
  display: none;
  pointer-events: none;
}

.ve-ui-tableContext .oo-ui-popupWidget-popup .oo-ui-popupWidget-body {
  width: auto !important;
  overflow: hidden !important;
}

.ve-ui-tableContext.show-controls .ve-ui-tableContext-overlay {
  display:block;
}

.ve-ui-tableContext .ruler {
  position: absolute;
}

.ve-ui-tableContext .ruler.horizontal {
  left: 0px;
  height: 0px;
  border-bottom: dotted 1px #00ffff;
  opacity: 0.5;
}

.ve-ui-tableContext .ruler.vertical {
  top: 0px;
  width: 0px;
  border-right: dotted 1px #00ffff;
  opacity: 0.5;
}

.ve-ui-tableContext .selection-box {
  position: absolute;
  border: solid 2px #008080;
  opacity: 0.3;
}

.ve-ui-tableContext .row-bracket {
  position: absolute;
  left: -10px;
  width: 3px;
  border-style: solid;
  border-color: #008080;
  border-right: 0px;
/*  border-top: 0px;
  border-bottom: 0px;
*/  opacity: 0.3;
}

.ve-ui-tableContext .column-bracket {
  position: absolute;
  top: -10px;
  height: 3px;
  border-style: solid;
  border-color: #008080;
  border-bottom: 0px;
/*  border-right: 0px;
  border-left: 0px;
*/  opacity: 0.3;
}

.ve-ui-tableToolbar .ve-ui-tableToolbar-header,
.ve-ui-tableToolbar .ve-ui-tableToolbar-buttons {
  float: left;
  padding-left: 20px;
}

.ve-ui-tableToolbar .ve-ui-tableToolbar-header {
  vertical-align: middle;
}


.ve-ui-tableToolbar .ve-ui-tableToolbar-buttons .oo-ui-labeledElement-label {
  font-size: 0.8em;
}
