.oo-ui-icon-table {
  background-image: /* @embed */ url(table.svg);
}

.ve-ce-tableNode {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left:auto;
  margin-right:auto;
}

.ve-ce-tableNodeEx.focussed {
  border: 1px dashed;
}