.oo-ui-icon-table {
  background-image: /* @embed */ url(table.svg);
  background-position: center;
}

.oo-ui-icon-table-insert-row-before {
  background-image: /* @embed */ url(table-insert-row-before.svg);
  background-position: center;
}

.oo-ui-icon-table-insert-row-after {
  background-image: /* @embed */ url(table-insert-row-after.svg);
  background-position: center;
}

.oo-ui-icon-table-delete-row {
  background-image: /* @embed */ url(table-delete-row.svg);
  background-position: center;
}

.oo-ui-icon-table-insert-column-before {
  background-image: /* @embed */ url(table-insert-column-before.svg);
  background-position: center;
}

.oo-ui-icon-table-insert-column-after {
  background-image: /* @embed */ url(table-insert-column-after.svg);
  background-position: center;
}

.oo-ui-icon-table-delete-column {
  background-image: /* @embed */ url(table-delete-column.svg);
  background-position: center;
}

.ve-ui-tableInspector {
  width: 10em;
}

.ve-ui-tableInspector .header {
  display: inline-block;
  width: 100%;
  padding: 5px 5px 5px 5px;
}

.ve-ui-tableInspector .header .oo-ui-buttonWidget {
  float:left;
}

.ve-ui-tableInspector .header .oo-ui-window-icon {
  padding-left: 0.5em;
  margin-left: 0.25em;
  border-left: solid 1px #eee;
}

.ve-ui-tableInspector .ve-ui-tableInspector-buttons {
  padding: 5px 5px 5px 5px;
  display: table-row;
}

.ve-ui-tableInspector .ve-ui-tableInspector-buttons .oo-ui-buttonWidget {
  padding-left: 5px;
  min-width: 40px;
  display: table-cell;
}

.ve-ui-tableInspector .ve-ui-tableInspector-buttons .oo-ui-buttonWidget .oo-ui-iconedElement-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ve-ui-tableInspector .ve-ui-tableInspector-buttons .oo-ui-buttonWidget .oo-ui-labeledElement-label {
  margin-left: auto;
  margin-right: auto;
}

.ve-ui-tableContext .ve-ui-tableContext-ruler {
  position: absolute;
  background-color: #ccc;
}

.ve-ui-tableContext .ve-ui-tableContext-ruler.ve-ui-tableContext-ruler-horizontal {
  left: 0px;
  height: 2px;
}

.ve-ui-tableContext .ve-ui-tableContext-ruler.ve-ui-tableContext-ruler-vertical {
  top: 0px;
  width: 2px;
}


.ve-ce-tableNode {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left:auto;
  margin-right:auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.ve-ce-tableCellNode {
  border: 1px solid #ccc;
  padding: 5px 10px 5px 10px;
}

.ve-ce-tableCellNode .ve-ce-paragraphNode {
  min-width: 10px
}

thead .ve-ce-tableCellNode {
  background-color: #EEE;
}


.ve-ce-tableNodeEx.focussed {
  border: 1px dashed;
}